[project]
	description = spring code samples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bharanic4040
[access "refs/for/refs/*"]
	read = group user/bharanic4040
	push = group user/bharanic4040
	label-Code-Review = -2..+2 group user/bharanic4040
	label-Verified = -1..+1 group user/bharanic4040
	rebase = group user/bharanic4040
	removeReviewer = group user/bharanic4040
	submit = group user/bharanic4040
[access "refs/heads/*"]
	read = group user/bharanic4040
	create = group user/bharanic4040
	push = +force group user/bharanic4040
	pushMerge = group user/bharanic4040
[access "refs/tags/*"]
	push = +force group user/bharanic4040
	pushTag = group user/bharanic4040
	pushSignedTag = group user/bharanic4040
